.question {
  height: 10vh;
  width: 100%;
  background-color: whitesmoke;
  line-height: 3;
  border:3px groove grey;
  padding-left: 1vw;
}

.hide {display: none;}


i {
  position: absolute;
  right: 10%;
  cursor: pointer;
}

.nopadding {
  padding: 0;
}

.margin {
  margin: 3vw;
}

.fullheight {
  height: 90vh;
}

body {
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}

.border {
  border: 1 px solid black;
}

.button.button4{
  position: absolute;
  top: 50%;
  right: 90%;
  background-color: #4CAF50;
  font-size: 16px;
  cursor: pointer;
  z-index:9998;
}

.modal{
  display: inline-block;
}

label {
  width:100%;
}

/* .broadcast-modal {
  background-color: whitesmoke;
  height: 30vh;
  width: 30vw;
  display: inline-block;
  position: absolute;
} */

.dropdown {
  overflow: scroll;
}

.answerDiv {
  width: 50%;
  height: 50%;
  display: inline-block;
  position: relative;
}

.student {
  z-index:-1;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  padding: 10px;
  height: 50%;
  width: 50%;
  border: black solid 1px;
}
.footer {
  position: absolute;
  bottom: 0;
  width:100%;
}
.modal-lg{
  max-width: 74.5%;
}