.question {
  height: 10vh;
  width: 100%;
  background-color: whitesmoke;
  line-height: 3;
  border:3px groove grey;
  padding-left: 1vw;
}

.hide {display: none !important;}


i {
  position: absolute;
  right: 10%;
  cursor: pointer;
}

.nopadding {
  padding: 0;
}

.margin {
  margin: 3vw;
}

.fullheight {
  height: 101vh;
}

body {
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}

.border {
  border: 1 px solid black;
}
