.question {
  height: 10vh;
  width: 100%;
  background-color: antiquewhite;
  line-height: 3;
  border: 2px groove grey;
  padding-left: 1vw;
}

.hidden {display: hidden;}


i {
  position: absolute;
  right: 10%;
  cursor: pointer;
}